#webtitle{
  font-family: Comic Sans MS;
  cursor: pointer;
}
#main{
  font-family: Comic Sans MS;
  color: white;
  text-align: center;
}
#snine{
  font-family: Comic Sans MS;
  color: white;
}

#cat{
  overflow: visible;
	transform: translatey(0px);
	cursor: pointer;
}
#nazi:hover{
  background-image: url(https://media.discordapp.net/attachments/776261329509023787/837447783707443220/b69.png);
  background-size: cover;
  cursor: pointer; 
}
#dsicord{ color: #7289da }
/* basicly all skidded shit */
  
.rainbow {
  
   /* Font options */
  
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 3s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 3s infinite;
  
  /* Standar Syntax */
  animation: rainbow 3s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

/* Internet Explorer */
@-ms-keyframes rainbow{
   0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
    0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

.rainbow2 {
      background-image: gradient(linear, left top, right top,
        color-stop(0, red),
        color-stop(0.15, orange),
        color-stop(0.3, yellow),
        color-stop(0.45, green),
        color-stop(0.65, blue),
        color-stop(0.8, indigo),
        color-stop(1, violet)
      );
      color:transparent;
      background-clip: text;

      /* for webkit browsers Chrome and Safari */
      background-image: -webkit-gradient(linear, left top, right top, 
        color-stop(0, red),
        color-stop(0.15, orange),
        color-stop(0.3, yellow), 
        color-stop(0.45, green), 
        color-stop(0.65, blue),
        color-stop(0.8, indigo),
        color-stop(1, violet)
      );
      -webkit-background-clip: text;
    }
    .animated_rainbow_2 {
      font-size: 35px;
      background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
      -webkit-animation: animatedBackground_a .9s linear infinite alternate;
      -webkit-background-clip: text;
      -webkit-text-fill-color: #0000;
      background-clip: text;
  }
  @keyframes animatedBackground_a {
      0% { background-position: 0 0 }
      100% { background-position: -500px 0 }
  }


.rainbow-gradient {
    --border-width: 3px;
    position: relative;
    background: #222;
    border-radius: var(--border-width)
}

.rainbow-gradient::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(45deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0, #5ff281, #abf25f, #f2cb5f, #f25f61, #f25fd0, #a65ff2, #5f86f2);
    background-size: 300% 300%;
    background-position: 0 50%;
    animation: moveGradient 10s alternate infinite
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%
    }
}

@keyframes rotate {
    from {
        transform: rotate(0turn)
    }
    to {
        transform: rotate(1turn)
    }
}

